/*-- scss:defaults --*/

// Colors
$dark-blue: #1E4264;
$blue-grey: #80A4B6;
$blue-grey2: #7EA3B6;
$off-white: #F1F3F4;
$light-sky-blue: #F0F4FF;
$light-dark-blue: #B3B8F4;

// Base document colors
$navbar-bg: $light-dark-blue; // 
$navbar-fg: $dark-blue; //
$navbar-hl: $blue-grey; //
$body-bg: $off-white; // 
$footer-bg: $light-sky-blue; //

/*-- scss:rules --*/

.navbar-logo {
max-height: 40px !important;
width: auto;
height: auto;
}

.navbar-nav .nav-link {
  transition: font-size 0.15s ease, transform 0.15s ease;
}

.navbar-nav .nav-link:hover {
  transform: scale(1.15);
  display: inline-block;
}