/*-- scss:defaults --*/

// Colors
$dark-blue: #1E4264;
$blue-grey: #80A4B6;
$blue-grey2: #7EA3B6;
$white: #F8F9FA;
$light-grey: #C3C4C4;

// Base document colors
$navbar-bg: $white; // 
$navbar-fg: $dark-blue; //
$body-bg: $light-grey; // 


/*-- scss:rules --*/

.navbar-logo {
max-height: 40px !important;
width: auto;
height: auto;
}